## Lists

## looking inside a list

In [1]:
friends=["Sally","George","Joan"]
print(friends[1])

george

## list and definite loops

In [5]:
friends=["Sally","George","Joan"]
for friend in friends:
    print("Happy new year:", friend)

Happy new year: Sally
Happy new year: George
Happy new year: Joan

## How long is a list

In [8]:
greet=["Maria","28","Pedro","Uri"]
# our print is a number of elements in our list
print(len(greet))

4

## Range function return a list

In [17]:
greet=["Maria","28","Pedro","Uri","juana"]
print(len(greet))
print(range(len(greet)))
print(range(4))

5
range(0, 5)
range(0, 4)

## Tales of two loops

In [25]:
# we use this loop like a simple loop
friends=["Maria","Arca","Pedro","Uri","juana"]
for friend in friends:
    print("Happy new year:",friend)

Happy new year: Maria
Happy new year: Arca
Happy new year: Pedro
Happy new year: Uri
Happy new year: juana

In [37]:
friends=["Maria","Arca","Pedro","Uri","juana"]
for i in range(len(friends)):
    friend=friends[i]
    print("Happy new year:",friend)
    # my output is a number of letters of each name
    print(len(friend))
    print(range(len(friend)))

Happy new year: Maria
5
range(0, 5)
Happy new year: Arca
4
range(0, 4)
Happy new year: Pedro
5
range(0, 5)
Happy new year: Uri
3
range(0, 3)
Happy new year: juana
5
range(0, 5)

## Manipulating lists

## Concatenting list using "+"

In [38]:
a=[1,2,3,4]
b=[5,6,7,8]
c=a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8]

## Slicing list using ":"

In [42]:
t=[21,34,45,67,89,40]
t[0:3]

[21, 34, 45]

In [43]:
#from position 0 to position 4
t[:4]

[21, 34, 45, 67]

In [44]:
# from position 3 onwards
t[3:]

[67, 89, 40]

In [45]:
# all the elements in my list
t[:]

[21, 34, 45, 67, 89, 40]

## Building a list from scratch

In [51]:
stuff=list()
stuff.append("book")
print(stuff)
stuff.append("98")
print(stuff)
stuff.append("cooking")
print(stuff)

['book']
['book', '98']
['book', '98', 'cooking']

## Is something in a list? we can use "in"

In [52]:
some=[67,23,56,78,88]
9 in some

False

In [53]:
67 in some

True

In [56]:
23 not in some

False

## List are in order using "sort"

In [4]:
friends=["Maria","Arca","Pedro","Uri","juana"]
friends.sort()
print(friends)

['Arca', 'Maria', 'Pedro', 'Uri', 'juana']

## Built-in function and list

In [4]:
nums=[21,34,45,67,89,40]
print(len(nums))
print(max(nums))
print(min(nums))
print(sum(nums))
# otherwise we can have the average
print(sum(nums)/len(nums))

6
89
21
296
49.333333333333336

In [2]:
total=0
count=0
while 1==1:
    inp=(input("Enter a number:"))
    if inp=="done":   
        break
    inp=int(inp)
    value=float(inp)
    
    total=total+value
    count=count+1
    average=total/count
    print("Average:", average)

Enter a number:23
Average: 23.0
Enter a number:45
Average: 34.0
Enter a number:69
Average: 45.666666666666664
Enter a number:done

## Strings and list

In [2]:
abc="with three words"
stuff=abc.split()
print(stuff)
print(len(stuff))
print(stuff[0])

for w in stuff:
    print(w)

['with', 'three', 'words']
3
with
with
three
words

In [5]:
abc="with, three, words"
# we say where we want the spaces
stuff=abc.split(",")
print(stuff)
print(len(stuff))
print(stuff[0])

['with', ' three', ' words']
3
with

In [ ]:
the_file=/home/mati/Escritorio/textos_descargados_coursera/my_data/romeo.txt

In [13]:
#example 1

file_dir=input()
file_2=open(file_dir)
count=0
file_string=file_2.readlines()
for line in file_string:
    count=count+1
    line=line.rstrip()
    if not line.startswith("From"):continue
    words=line.split()
    print(words[1])
print("There were",count,"Lines in the file from as the first word")

/home/mati/Escritorio/submitt_partners/my_data/mbox-short.txt
stephen.marquard@uct.ac.za
stephen.marquard@uct.ac.za
louis@media.berkeley.edu
louis@media.berkeley.edu
zqian@umich.edu
zqian@umich.edu
rjlowe@iupui.edu
rjlowe@iupui.edu
zqian@umich.edu
zqian@umich.edu
rjlowe@iupui.edu
rjlowe@iupui.edu
cwen@iupui.edu
cwen@iupui.edu
cwen@iupui.edu
cwen@iupui.edu
gsilver@umich.edu
gsilver@umich.edu
gsilver@umich.edu
gsilver@umich.edu
zqian@umich.edu
zqian@umich.edu
gsilver@umich.edu
gsilver@umich.edu
wagnermr@iupui.edu
wagnermr@iupui.edu
zqian@umich.edu
zqian@umich.edu
antranig@caret.cam.ac.uk
antranig@caret.cam.ac.uk
gopal.ramasammycook@gmail.com
gopal.ramasammycook@gmail.com
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
stephen.marquard@uct.ac.za
stephen.marquard@uct.ac.za
louis@media.berkeley.edu
louis@media.berkeley.edu
louis@media.berkeley.edu
louis@media.berkeley.edu
ray@media.berkeley.edu
ray@media.berkeley.edu
cwen@iupui.edu
cwen@iupui.edu
cwen@iupui.edu
cwen@iupui.edu
cwen@iupui.edu
cwen@iupui.edu
There were 1910 Lines in the file from as the first word

## Double split

In [4]:
file_dir="From rjlowe@iupui.edu Fri Jan 4 14:50:18 2008"
spaces=file_dir.split()
email=spaces[1]
pieces=email.split("@")
print(pieces[1])

iupui.edu

In [6]:
friends = [ 'Joseph', 'Glenn', 'Sally' ]
friends.sort()
print(friends)

['Glenn', 'Joseph', 'Sally']

## Final work_1 week-4

8.4 Open the file romeo.txt and read it line by line. For each line, split the line into a list of words using the split() method. The program should build a list of words. For each word on each line check to see if the word is already in the list and if not append it to the list. When the program completes, sort and print the resulting words in alphabetical order.

In [ ]:
/home/mati/Escritorio/textos_descargados_coursera/my_data/romeo.txt

In [7]:
file=input("Enter file name: ")
file_2=open(file)
begin_lista=[]
my_file_1=file_2.readlines()
for line in my_file_1:
    line=line.strip()
    line=line.split()
    begin_lista=begin_lista+line
    line_2=sorted(begin_lista)
print(begin_lista)

Enter file name: /home/mati/Escritorio/textos_descargados_coursera/my_data/romeo.txt
['But', 'soft', 'what', 'light', 'through', 'yonder', 'window', 'breaks', 'It', 'is', 'the', 'east', 'and', 'Juliet', 'is', 'the', 'sun', 'Arise', 'fair', 'sun', 'and', 'kill', 'the', 'envious', 'moon', 'Who', 'is', 'already', 'sick', 'and', 'pale', 'with', 'grief']

## You will parse the From line using split() and print out the second word in the line (i.e. the entire address of the person who sent the message). Then print out a count at the end.
Hint: make sure not to include the lines that start with 'From:'.

You can download the sample data at http:

In [ ]:
/home/mati/Escritorio/textos_descargados_coursera/my_data/mbox-short.txt

In [3]:
file=input("Enter file name: ")
opening=open(file)
reading=opening.readlines()
count=0
for line in reading:
    line=line.rstrip()
    wds=line.split()
    if len(wds)<1 or wds[0] !="From":
        continue
    print(wds[1])
    count=count+1
print("There were",count,"Lines in the file from as the first word")

Enter file name: /home/mati/Escritorio/submitt_partners/my_data/mbox-short.txt
stephen.marquard@uct.ac.za
louis@media.berkeley.edu
zqian@umich.edu
rjlowe@iupui.edu
zqian@umich.edu
rjlowe@iupui.edu
cwen@iupui.edu
cwen@iupui.edu
gsilver@umich.edu
gsilver@umich.edu
zqian@umich.edu
gsilver@umich.edu
wagnermr@iupui.edu
zqian@umich.edu
antranig@caret.cam.ac.uk
gopal.ramasammycook@gmail.com
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
stephen.marquard@uct.ac.za
louis@media.berkeley.edu
louis@media.berkeley.edu
ray@media.berkeley.edu
cwen@iupui.edu
cwen@iupui.edu
cwen@iupui.edu
There were 27 Lines in the file from as the first word

In [8]:
# in this exercise we sorted the words

In [3]:
file_name=input("Enter file name: ")
file=open(file_name)
my_lines=file.readlines()
list_of_words=[]
for line in my_lines:
    words=line.split()
    for word in words:
        if word not in list_of_words:
            list_of_words.append(word)
organization_words=sorted(list_of_words)
print(organization_words)

Enter file name: /home/mati/Escritorio/submitt_partners/my_data/romeo.txt
['Arise', 'But', 'It', 'Juliet', 'Who', 'already', 'and', 'breaks', 'east', 'envious', 'fair', 'grief', 'is', 'kill', 'light', 'moon', 'pale', 'sick', 'soft', 'sun', 'the', 'through', 'what', 'window', 'with', 'yonder']

## hacer una funciòn que reciba una lista de nùmeros y un nùmero y retorne true or false si hay dos nùmeros de la lista que suman ese nùmero

In [9]:
all_numbers=[34,4,67,8]
suma=12
initial=0
def numbers(all_numbers,suma):
    for i in all_numbers:
        the_sum=i+i
        print(i,the_sum)
        if all_numbers==suma:
            return True
    return False
numbers(all_numbers,12)

34 68
4 8
67 134
8 16

False

In [14]:
# sum of the numbers inside of the list
def sumalista(listaNumeros):
    laSuma = 0
    for i in listaNumeros:
        laSuma = laSuma + i
    return laSuma

print(sumalista([1,3,5,7,9]))

25

## Ejemplos de funciones

In [27]:
def is_in_list(list_names,name_to_find):
    for name in list_names:
        if name==name_to_find:
            return True
    return False      
my_names = ["maria","juana","pedro"]
name_to_find = "juana"

if is_in_list(my_names,name_to_find)==True:
    print("Esta")
else:
    print("No esta")

Esta

## funcion que diga cual es el mayor de dos numeros

In [10]:
def mensaje():
    print("i want to try")
mensaje()

i want to try

In [27]:
def get_maximum(number_1,number_2):
    if number_1>number_2:
        return(number_1)
    else:
        return(number_2)
get_maximum(12,45)

45

## mayor de una lista de numeros

In [5]:
mayor_number=[12,34,56,1,15]
def high_number(mayor_number):
        return(max(mayor_number))
high_number(mayor_number)

56

In [38]:
mayor_number_2=[1333,35,567,2,16]# create your numbers list
def my_max(mayor_number_2):
    max_val = mayor_number_2[0]       # initialize with the first value from the list
    for item in mayor_number_2:       # loop over the items in the list
        if item > max_val: # compare current item with the maximum seen so far
            max_val = item # set new max
    return  max_val       # return the max

In [39]:
my_max(mayor_number_2)

1333

## 1. Write a Python program to sum all the items in a list.

In [15]:
def all_numbers(list_number):
    suma_all=0
    for i in list_number:
        suma_all=suma_all+i
    return suma_all

In [18]:
list_number=[12,34,56,78,90]

In [17]:
all_numbers(list_number)

270

## 2. Write a Python program to multiplies all the items in a list.

In [21]:
def multiplies_numbers(list_number):
    por=1
    for i in list_number:
        por=por*i
    return por
multiplies_numbers(list_number)

160392960

## 3. Write a Python program to get the largest number from a list.

In [24]:
def largest_number(list_number):
    largest=list_number[0]
    for i in list_number:
        if i>largest:
            largest=i
    return largest
largest_number(list_number)

90

## 4. Write a Python program to get the smallest number from a list.

In [26]:
def smallest_number(list_number):
    smallest=list_number[0]
    for i in list_number:
        if i<smallest:
            smallest=i
    return smallest
smallest_number(list_number)

12

## 5. Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result : 2

In [90]:
list_words=("abc", "xyz", "aba", "1221")

def string_lenght(list_words):
    count=0
    min_length=2
    for word in list_words:
        if len(word)>=min_length and word[-1]==word[0]:
            count=count+1
    return count 
string_lenght(list_words)

2

## 11. Write a Python function that takes two lists and returns True if they have at least one common member.

In [12]:
list_1=["ana","1","angel","0"]
list_2=["pedro","1","a","mati"]
def least_one_common(list_1,list_2):   
    for i in list_1:
        for x in list_2:
            if i==x:
                return True
    return False
            
least_one_common(list_1,list_2)

True

## 12. Write a Python program to print a specified list after removing the 0th, 4th and 5th elements. Go to the editor
Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
Expected Output : ['Green', 'White', 'Black']

In [27]:
list_1=["maria","ana","aro","juana","albert","berto"]
def name(list_1):
    # we can use pop() in this case we erase the element in this position
    list_1.pop(0)
    # or remove we specify the name 
    list_1.remove("albert")
    list_1.pop(3)
    return list_1
new_list=name(list_1)
print(new_list)

['ana', 'aro', 'juana']